# RANCID-CONTENT-TYPE: cumulus
hostname r1
# This file describes the network interfaces
==> /etc/frr/frr.conf <==

!
frr version 10.3.1_git
frr defaults traditional
no ipv6 forwarding
!
interface eth1
 ip address 10.0.12.1/30
 ip ospf area 0
exit
!
interface eth2
 ip address 10.0.41.2/30
 ip ospf area 0
exit
!
interface lo
 ip address 1.1.1.1/32
 ip ospf area 0
exit
!
router ospf
 ospf router-id 1.1.1.1
exit
!
end
