# RANCID-CONTENT-TYPE: cumulus
hostname r2
# This file describes the network interfaces
==> /etc/frr/frr.conf <==

!
frr version 10.3.1_git
frr defaults traditional
no ipv6 forwarding
!
interface eth1
 ip address 10.0.12.2/30
 ip ospf area 0
exit
!
interface eth2
 ip address 10.0.23.1/30
 ip ospf area 0
exit
!
interface lo
 ip address 2.2.2.2/32
 ip ospf area 0
exit
!
router ospf
 ospf router-id 2.2.2.2
exit
!
end
