# RANCID-CONTENT-TYPE: cumulus
hostname r3
# This file describes the network interfaces
==> /etc/frr/frr.conf <==

!
frr version 10.3.1_git
frr defaults traditional
no ipv6 forwarding
!
interface eth1
 ip address 10.0.23.2/30
 ip ospf area 0
exit
!
interface eth2
 ip address 10.0.34.1/30
 ip ospf area 0
exit
!
interface lo
 ip address 3.3.3.3/32
 ip ospf area 0
exit
!
router ospf
 ospf router-id 3.3.3.3
exit
!
end
